# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/boost_1_58_0/boost/accumulators
/boost_1_58_0/boost/algorithm
/boost_1_58_0/boost/align
/boost_1_58_0/boost/archive
/boost_1_58_0/boost/asio
/boost_1_58_0/boost/assign
/boost_1_58_0/boost/atomic
/boost_1_58_0/boost/bimap
/boost_1_58_0/boost/bind
/boost_1_58_0/boost/chrono
/boost_1_58_0/boost/circular_buffer
